<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers">
	<f:layout name="Default"/>
	<title>Templates: Current</title>

	<f:section name="menu">
		<f:render partial="Menu" arguments="{controller:'Tournament',action:'current'}" section="Main"/>
	</f:section>

	<f:section name="main">
		<!-- Start file EXT:tippgame/Resources/Private/Templates/Tournament\Current -->
		Hallo Echo
		<p>
			a<br />
			m<br/>
			b<br/>
			c<br/>
			d<br/>
			e<br/>
		</p>
		<!-- End file EXT:tippgame/Resources/Private/Templates/Tournament\Current -->
	</f:section>
</div>
