<div xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
	 xmlns="http://www.w3.org/1999/xhtml"
	 lang="en">
	<f:layout name="Default"/>
	<title>Templates: New</title>
	<f:section name="main">
		<!-- Start file EXT:tippgame/Resources/Private/Templates/Tournament/New -->
		<f:form action="create" controller="Tournament" object="{tournament}"
				name="tournament" id="editForm">
			<f:flashMessages />
			<f:render partial="ValidationErrors" section="Main" />
			<div>
				<label for="title" class="control-label">
					<f:translate key="tournament.title"/>
				</label>
				<div class="input-group">
					<f:form.textfield property="title" class="form-control"/>
								<span class="input-group-addon">
									<span class="fa fa-pencil"></span>
								</span>
				</div>
			</div>

			<div>
				<label for="title" class="control-label">
					<f:translate key="tournament.start"/>
				</label>
				<div class="input-group date" id="datepicker_start">
					<f:form.textfield property="start" class="form-control"/>
								<span class="input-group-addon">
									<span class="fa fa-calendar-minus-o"></span>
								</span>
				</div>
			</div>

			<div>
				<label for="title" class="control-label">
					<f:translate key="tournament.stop"/>
				</label>
				<div class="input-group date" id="datepicker_stop">
					<f:form.textfield property="stop" class="form-control"/>
								<span class="input-group-addon">
									<span class="fa fa-calendar-plus-o"></span>
								</span>
				</div>
			</div>
			<div class="text--right">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					<f:translate key="button.cancel"/>
				</button>
				<button type="button" class="btn btn-primary" id="createTournament">
					<f:translate key="button.create"/>
				</button>
			</div>
		</f:form>
		<!-- End file EXT:tippgame/Resources/Private/Templates/Tournament/New -->
	</f:section>
</div>
