<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">
	<f:layout name="Default"/>
	<title>Templates: List</title>
	<f:section name="main">
		<!-- Start file EXT:tippgame/Resources/Private/Templates/Administration/List -->
		<h1><i class="fa fa-trophy fa-fw"></i><f:translate key="header.administration.list" /></h1>
		<button type="button" class="btn btn-lg btn-primary" id="tournament_new">
			<f:translate key="button.tournament.new"/>
		</button>
		<table class="table table-striped">
			<thead>
			<tr>
				<th><f:translate key="tournament.title" /></th>
				<th><f:translate key="tournament.start" /></th>
				<th><f:translate key="tournament.stop" /></th>
			</tr>
			</thead>
			<tbody>
			<f:for each="{tournaments}" as="tournament">
				<tr>
					<td>{tournament.title}</td>
					<td>{tournament.start -> f:format.date(format:'d.m.Y')}</td>
					<td>{tournament.stop -> f:format.date(format:'d.m.Y')}</td>
				</tr>
			</f:for>
			</tbody>
		</table>

		<!-- End file EXT:tippgame/Resources/Private/Templates/Administration/List -->
	</f:section>
</div>